# permissions for end users to edit httpbootconfigs.
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  labels:
    app.kubernetes.io/name: clusterrole
    app.kubernetes.io/instance: httpbootconfig-editor-role
    app.kubernetes.io/component: rbac
    app.kubernetes.io/created-by: boot-operator
    app.kubernetes.io/part-of: boot-operator
    app.kubernetes.io/managed-by: kustomize
  name: httpbootconfig-editor-role
rules:
- apiGroups:
  - boot.ironcore.dev
  resources:
  - httpbootconfigs
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - boot.ironcore.dev
  resources:
  - httpbootconfigs/status
  verbs:
  - get
